.container {
    background-color: yellow;
    height: 100px;
    width: 75%;
    /* margin: 10px 20px 30px 40px; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px 20px 30px 40px; */
    padding-top: 10px;
    padding-bottom: 40px;
    /* border: 5px solid black; */
    border-width: 10px;
    border-style: solid;
    border-color: blue;
    overflow: hidden;
    box-shadow: 10px 15px 25px 15px blue;
    text-align: center;
}

.dotted {
    height: 100px;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: dotted;
    border-color: teal;
}

.dashed {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: dashed;
    border-color: crimson;
}

.double {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: double;
    border-color: seagreen;
}

.groove {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: groove;
    border-color: purple;
}

.ridge {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: ridge;
    border-color: gray;
}

.inset {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: inset;
    border-color: dodgerblue;
}

.outset {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: outset;
    border-color: goldenrod;
}

.radius {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
}

.custom-border {
    height: 100px;
    width: 75%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-width: 10px;
    border-color: black;
    border-top: solid;
    border-bottom: solid;
}



